<div class="qa">
    <h3 class="large question collapsed" data-toggle="collapse" data-target="#<%= id %>">
        <span class="icon"><span class="fa fa-chevron-right"></span></span>
        <%- question %>
    </h3>
    <div id="<%= id %>" class="answer collapse"><%- answer %></div>
</div>