<div class="team-member">
    <h3 class="name"><%= name %></h3>
    <div class="handle"><%= handle %></div>
    <% if (typeof role != 'undefined' && role) { %><div class="role"><%- role %></div><% } %>
</div>