<footer>
    <div class="container">
        <div class="row nav-row">
            <div class="col-md-4">
                <img src="/img/world.svg" class="world-img">
            </div>
            <div class="col-md-8">
                <div class="row">
                    <% Object.keys(sitemap.map).forEach(key => { %>
                        <% var group = sitemap.map[key]; %>
                        <% if (group.type == 'group') { %>
                            <div class="col-md-6">
                                <fieldset>
                                    <legend><%= group.name %></legend>
                                    <% Object.keys(group.links).forEach(key => { %>
                                        <% var link = group.links[key]; %>
                                        <a href="<%= link.href %>" target="<%= (link.target || '_self') %>">
                                            <%- link.name %>
                                        </a>
                                    <% }); %>
                                </fieldset>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
            </div>
        </div> 
        <div class="row credit-row">
            <div class="brand">
                <a href="/"><img src="/img/ecc_logo_white.svg"> ECC</a>
            </div>
            <div class="social-icons">
                <a <%- sitemap.resolve('discord').anchorAttrs %>><img src="/img/social/discord.svg"></a>
                <a <%- sitemap.resolve('facebook').anchorAttrs %>><img src="/img/social/facebook.svg"> </a>
                <a <%- sitemap.resolve('github').anchorAttrs %>><img src="/img/social/github.svg"></a>
                <a <%- sitemap.resolve('reddit').anchorAttrs %>><img src="/img/social/reddit.svg"></a>
                <a <%- sitemap.resolve('telegram').anchorAttrs %>><img src="/img/social/telegram.svg"></a>
                <a <%- sitemap.resolve('twitter').anchorAttrs %>><img src="/img/social/twitter.svg"></a>
            </div>
            <div class="copyright">
                © 2017-<%= new Date().getFullYear() %> ECC, <%= locale.ALL_RIGHTS_RESERVED %> 
                <a href="http://www.amplitudo.me/homepage" target="_blank">Amplitudo</a>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://www.googletagmanager.com/gtag/js?id=UA-115450514-1" async></script>
<%- script('/js/vendor/lottie.js') %>
<%- script('/js/vendor/jquery-modal-video.js') %>
<%- script('/js/ecc.js') %>
