﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <%# metadata %>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="The home page for ECC, a multi-chain cryptocurrency focusing on a solution to currency transfer, name resolution, file storage, messaging, and more.">
        <meta name="author" content="Team ECC">
        <meta name="google-site-verification" content="KjT-rk31PFXoerh6biV0QpLcfieBD-PiHNpWXmHJJL4" />
        <meta name="keywords" content="ecc,crypto,decentralized,multichain,cryptocurrency">

        <%# fonts %>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,300i,400,500,500i,600,700,700i,800,900&subset=latin-ext,latin" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <%# stylesheet %>
        <link rel="stylesheet" href="/css/ecc.css">

		<%# scripts %>
		<script src='https://www.google.com/recaptcha/api.js'></script>
        
        <%# icons %>
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/manifest.json">
        <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#1F3047">
        <meta name="theme-color" content="#1F3047">
        
        <%# title %>
        <title><% if (typeof window_title != 'undefined') { %> <%= window_title %> <% } else { %> <%= locale.ECC_NETWORK %> <% } %></title>
    </head>
    <body class="<% if (typeof no_scroll != 'undefined') { %>no-scroll <% } %><% if (typeof light_page != 'undefined') { %>page-light <% } %>">
        <header>
            <div class="announcements text-center">
                Address Name Service (ANS) nicknames coming soon for ECC Sapphire. Crypto with personality. <a <%- sitemap.resolve('ans').anchorAttrs %>>Read more</a>
            </div>
            <% if (typeof selected_nav == 'undefined') { selected_nav = ''; } %>
            <div class="container navbar navbar-expand">
                <div id="mobile-nav-toggle">
                    <span class="fa fa-bars"></span>
                </div>
                <div class="navbar-header mr-auto">
                    <a href="/" class="navbar-brand">
                        <img id="header-logo-color" src="/img/ecc_logo.svg">
                        <img id="header-logo-white" src="/img/ecc_logo_white.svg">
                        ECC
                    </a>
                </div>
                <div class="navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto">
                        <% Object.keys(sitemap.map).forEach(key => { %>
                        <% var group = sitemap.map[key]; %>
                        <li class="<% if (group.type == 'group') { %>dropdown<% } %> <% if (selected_nav == key) { %>active<% } %>">
                            <% if (group.type == 'link') { %>
                            <a href="<%= group.href %>" target="<%= (group.target || '_self') %>"><%= group.name %></a>
                            <% } else { %>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= group.name %></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <% Object.keys(group.links).forEach(key => { %>
                                <% var link = group.links[key]; %>
                                <li>
                                    <a href="<%= link.href %>" target="<%= (link.target || '_self') %>">
                                        <%- link.name %>
                                    </a>
                                </li>
                                <% }); %>
                            </ul>
                            <% } %>
                        </li>
                        <% }); %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle selected-locale" data-toggle="dropdown">
                                <%= langs[lang] %>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right lang">
                                <% Object.keys(langs).forEach(lang => { %>
                                <li><a class="locale-link" data-locale="<%= lang -%>"><%= langs[lang] %></a></li>
                                <% }); %>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div id="mobile-navbar-menu" class="container">
            <% Object.keys(sitemap.map).forEach(key => { %>
                <% var group = sitemap.map[key]; %>
                <% if (group.type == 'link') { %>
                    <a href="<%= group.href %>" target="<%= (group.target || '_self') %>" class="<% if (selected_nav == key) { %>active<% } %>">
                        <%- group.name %>
                    </a>
                <% } else { %>
                    <a href="#mobile-navbar-<%= key %>" class="collapsible <% if (selected_nav == key) { %>active<% } else { %>collapsed<% } %>" data-toggle="collapse">
                        <%- group.name %>
                    </a>
                    <div id="mobile-navbar-<%= key %>" class="collapse <% if (selected_nav == key) { %>show<% } %>" data-parent="#mobile-navbar-menu">
                        <% Object.keys(group.links).forEach(key => { %>
                            <% var link = group.links[key]; %>
                            <a href="<%= link.href %>" target="<%= (link.target || '_self') %>">
                                <%- link.name %>
                            </a>
                        <% }); %>
                    </div>
                <% } %>
            <% }); %>
            <a class="collapsible collapsed selected-locale" href="#mobile-navbar-lang" data-toggle="collapse">
                <%= langs[lang] %>
            </a>
            <div id="mobile-navbar-lang" class="collapse">
                <% Object.keys(langs).forEach(lang => { %>
                    <a class="locale-link" data-locale="<%= lang -%>"><%= langs[lang] %></a>
                <% }); %>
            </div>
        </div>
