<%- include('_header', {selected_nav: 'home'}) %>

<section id="what-is-ecc-container">
	<div class="container">
		<h1 class="fade-in"><%- locale.UNCHAINING_THE_INTERNET %></h1>
		<span class="btn btn-primary btn-lg btn-icon caps" data-toggle="video" data-video-id="9yesyhkl6gI">
			<span class="fa fa-play-circle-o"></span>
			<%= locale.WATCH_VIDEO %>
		</span>
		<h2 class="section-title-orange caps"><%= locale.WHAT_IS_ECC %></h2>
		<div id="ecc-description-container">
			<h2 class="subtitle"><%= locale.A_BRAND_NEW_WORLD %></h2>
			<div id="ecc-description" class="col-12 col-lg-8">
				<p><%- locale.PROJECT_DESCRIPTION %></p>
			</div>
		</div>
		<div class="col-12 col-lg-8 text-right">
			<button id="ecc-read-more-trigger" class="btn btn-primary btn-sm"><%= locale.READ_MORE %></button>
		</div>
	</div>
</section>

<section id="multi-chain-container" class="text-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 offset-sm-2">
				<h2 class="section-title-orange caps"><%= locale.MULTI_CHAIN %></h2>
				<div id="multi-chain-animation" class="animation"></div>
				<h2 class="subtitle grey"><%= locale.OUR_GOAL %></h2>
				<%- include('_button/learn_more', {href: sitemap.resolve('multiChainSystem').href}) %>
			</div>
		</div>
	</div>
</section>

<section id="initial-services-container">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 initial-services-list">
				<h2 class="section-title-orange caps text-center"><%= locale.INITIAL_SERVICES %></h2>
				<div class="row">
					<div class="col-md-5">
						<div id="file-storage-animation" class="animation"></div>
					</div>
					<div class="col-md-7">
						<h3 class="caps"><%= locale.FILE_STORAGE %></h3>
						<p><%= locale.FILE_STORAGE_DESC %></p>
						<%- include('_button/learn_more', {href: sitemap.resolve('fileStorage').href}) %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7 order-1 order-md-0">
						<h3 class="caps"><%= locale.MESSAGING %></h3>
						<p><%= locale.MESSAGING_DESC %></p>
						<%- include('_button/learn_more', {href: sitemap.resolve('messaging').href}) %>
					</div>
					<div class="col-md-5 order-0 order-md-1">
						<div id="messaging-animation" class="animation"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div id="name-resolution-animation" class="animation"></div>
					</div>
					<div class="col-md-7">
						<h3 class="caps"><%= locale.NAME_RESOLUTION %></h3>
						<p><%= locale.NAME_RESOLUTION_DESC %></p>
						<%- include('_button/learn_more', {href: sitemap.resolve('ans').href}) %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="timeline-container">
	<div class="container">
		<h2 class="section-title-orange"><%= locale.ROADMAP %></h2>
		<p id="timeline-description"><%- locale.ROADMAP_DESC %></p>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-sm">
                    <thead>
                        <tr><th colspan="2"><%= locale.BLOCKCHAIN %></th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="fa fa-check text-success"></span></td>
                            <td><%= locale.FINANCIAL_CORE %></td>
                        </tr>
                        <tr>
                            <td><span class="fa fa-check text-success"></span></td>
                            <td><%= locale.MULTI_CHAIN_ARCH %></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><%= locale.SWITCH_CRYPTO_ALGO %></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><%= locale.SHORTEN_CHAIN %></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><%= locale.IMPROVE_PERFORMANCE %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-sm">
                    <thead>
                        <tr><th colspan="2"><%= locale.SERVICES %></th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="fa fa-check text-success"></span></td>
                            <td><%= locale.ANS_ADDRESS_NAME_SERVICE %></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><%= locale.MESSAGING %></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><%= locale.FILE_STORAGE %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-sm">
                    <thead>
                        <tr><th colspan="2"><%= locale.DESKTOP_APPS %></th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="fa fa-check text-success"></span></td>
                            <td><%= locale.LYNX_FULL_NODE_WALLET_ONLY %></td>
                        </tr>
                        <tr>
                            <td><span class="fa fa-check text-success"></span></td>
                            <td><%= locale.SAPPHIRE_FULL_NODE_WALLET_SAPPHIRE %></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><%= locale.SPV_WALLET %></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><%= locale.SPV_SERVICES %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-sm">
                    <thead>
                        <tr><th colspan="2"><%= locale.MOBILE_APPS %></th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td><%= locale.ANDROID %></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><%= locale.IOS %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
	</div>
</section>

<section id="download-container">
	<div class="container">
    	<div class="row">
		<div class="offset-xl-2 col-xl-5 offset-lg-1 col-lg-6 wallet-img">
			<img src="/img/wallet_angled.png">
		</div>
		<div class="col-xl-3 col-lg-4 wallet-text">
			<h2 class="section-title-grey caps"><%= locale.DOWNLOAD_THE_WALLET %></h2>
			<a <%- sitemap.resolve('sapphire').anchorAttrs %> class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> <%= locale.DOWNLOAD %> Sapphire
			</a>
		</div>
    	</div>
    </div>
</section>

<section id="learn-container">
	<img class="faq-img" src="/img/faq.svg">
	<h2 class="section-title-grey"><%= locale.WANT_TO_LEARN_MORE %><br><%- locale.CHECK_OUT_FAQ %></h2>
</section>

<section id="join-container">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div>
					<p><%= locale.SHARE_YOUR_THOUGHTS %></p>
					<%- include('_button/contact_us.ejs') %>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('_footer') %>
<%- script('/js/index.js') %>
