/** 
 * ecc.network
 * 
 * @copyright Project ECC
 */

#multi-chain-title-container {
    background-image: url('/img/background/about/multi_chain.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#multi-chain-body-container {
    .header-row {
        margin-bottom: 30px;
    }

    .text-box {
        border: 2px solid $ecc-grey-light;
        border-radius: 4px;
        margin-bottom: 15px;
        padding: 15px;
    }

    #payment-img-container {
        margin-top: 20px;
    }

    #payment-and-messaging-img-container {
        margin-top: 250px;
    }
}

@media (max-width: 1200px) {
    #multi-chain-body-container {
        #payment-and-messaging-img-container {
            margin-top: 330px;
        }
    }
}

@media (max-width: 992px) {
    #multi-chain-body-container {
        #payment-and-messaging-img-container {
            margin-top: 630px;
        }
    }
}

@media (max-width: 768px) {
    #multi-chain-body-container {
        #payment-and-messaging-img-container {
            margin-top: 30px;
        }
    }
}