<div id="app-download-container" class="container text-center">
    <h2 class="section-title"><%= (locale.DOWNLOAD + ' ' + app_name) %></h2>
    <% if (downloads) { %>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="#app-download-linux" class="nav-link" data-toggle="tab">
                    <span class="fa fa-linux fa-5x"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#app-download-mac" class="nav-link" data-toggle="tab">
                    <span class="fa fa-apple fa-5x"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#app-download-windows" class="nav-link" data-toggle="tab">
                    <span class="fa fa-windows fa-5x"></span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="app-download-linux" class="tab-pane fade">
                <% if (downloads.linux32.download_url) { %>
                    <a href="<%= downloads.linux32.download_url %>" class="btn btn-primary btn-lg btn-icon">
                        <span class="fa fa-cloud-download"></span> Linux (32-bit)
                    </a>
                <% } %>
                <% if (downloads.linux64.download_url) { %>
                    <a href="<%= downloads.linux64.download_url %>" class="btn btn-primary btn-lg btn-icon">
                        <span class="fa fa-cloud-download"></span> Linux (64-bit)
                    </a>
                <% } %>
                <% if (!downloads.linux32.download_url && !downloads.linux64.download_url) { %>
                    <h4><em><%= locale.NO_DOWNLOADS_FOR_PLATFORM %></em></h4>
                <% } %>
            </div>
            <div id="app-download-mac" class="tab-pane fade">
                <% if (downloads.mac.download_url) { %>
                    <a href="<%= downloads.mac.download_url %>" class="btn btn-primary btn-lg btn-icon">
                        <span class="fa fa-cloud-download"></span> MacOS (10.12+)
                    </a>
                <% } %>
                <% if (!downloads.mac.download_url) { %>
                    <h4><em><%= locale.NO_DOWNLOADS_FOR_PLATFORM %></em></h4>
                <% } %>
            </div>
            <div id="app-download-windows" class="tab-pane fade">
                <% if (downloads.win32.download_url) { %>
                    <a href="<%= downloads.win32.download_url %>" class="btn btn-primary btn-lg btn-icon">
                        <span class="fa fa-cloud-download"></span> Windows (32-bit)
                    </a>
                <% } %>
                <% if (downloads.win64.download_url) { %>
                    <a href="<%= downloads.win64.download_url %>" class="btn btn-primary btn-lg btn-icon">
                        <span class="fa fa-cloud-download"></span> Windows (64-bit)
                    </a>
                <% } %>
                <% if (!downloads.win32.download_url && !downloads.win64.download_url) { %>
                    <h4><em><%= locale.NO_DOWNLOADS_FOR_PLATFORM %></em></h4>
                <% } %>
            </div>
        </div>
    <% } else { %>
        <h4><strong><em>
            <%= locale.FAILED_TO_RETRIEVE_DOWNLOAD_LINKS %> 
            <a href="https://github.com/project-ecc/<%= app_name %>/releases"><%= locale.CLICK_HERE %></a>
            <%= locale.TO_DOWNLOAD_FROM_GITHUB %>
        </em></strong></h4>
    <% } %>
</div>