<div id="wallet-help-section" class="container text-center">
    <h2 class="section-title"><%= locale.NEED_HELP_HAVE_FEEDBACK %></h2>
    <p class="help-description">
        <%- locale.NEED_HELP_HAVE_FEEDBACK_DESC %>
    </p>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <a <%- sitemap.resolve('wiki').anchorAttrs %> class="btn btn-primary btn-lg btn-icon">
                <span class="fa fa-link"></span> <%= locale.WIKI %>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a <%- sitemap.resolve('reddit').anchorAttrs %> class="btn btn-primary btn-lg btn-icon">
                <span class="fa fa-reddit"></span> Reddit
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a <%- sitemap.resolve('discord').anchorAttrs %> class="btn btn-primary btn-lg btn-icon">
                <span class="fa fa-discord"></span> Discord
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a <%- sitemap.resolve('contact').anchorAttrs %> class="btn btn-primary btn-lg btn-icon" href="/contact" target="_blank">
                <span class="fa fa-envelope"></span> <%= locale.CONTACT_US %>
            </a>
        </div>
    </div>
</div>