<%- include('../_header', {window_title: 'Lynx', light_page: true, selected_nav: 'downloads'}) %>

<section id="lynx-title-container">
	<div class="container">
        <h1 class="fade-in">Lynx</h1>
        <h2 class="subtitle"><%= locale.LYNX_SUBTITLE %></h2>
        <%- include('../_button/get_ecc') %>
	</div>
</section>

<section id="lynx-wallet-container">
	<div class="container text-center">
        <img src="/img/lynx.png" class="lynx-preview-img">
    </div>

    <%- include('_download.ejs', {app_name: 'Lynx', downloads: downloads}) %>
    
    <%- include('_help.ejs') %>
</section>

<%- include('../_footer') %>
<%- script('/js/downloads/_download.js') %>
