<%- include('../_header', {window_title: locale.MOBILE_WALLETS, light_page: true, selected_nav: 'downloads'}) %>

<section id="mobile-downloads-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="fade-in"><%- locale.MOBILE_WALLETS %></h1>
                <%- include('../_button/get_ecc') %>
                <div class="animation-container single-animation">
                    <div id="mobile-currency-animation" class="animation"></div>
                    <h4 class="caps"><%= locale.SEND_RECEIVE_ON_THE_GO %></h4>
                </div>
            </div>
            <div class="col-md-6 text-center phone-img-container">
                <img src="/img/mobile_wallet_0.png">
            </div>
        </div>
        <div class="row">
            <div id="phone-image-2-left" class="col-md-6 text-center phone-img-container">
                <img src="/img/mobile_wallet_1.png">
            </div>
            <div class="col-md-6 text-center">
                <div class="animation-container">
                    <div id="mobile-messaging-animation" class="animation"></div>
                    <h4 class="caps"><%= locale.MESSAGING_ON_THE_GO %></h4>
                </div>
                <div id="phone-image-2-right" class="phone-img-container">
                    <img src="/img/mobile_wallet_1.png">
                </div>
                <div class="animation-container">
                    <div id="mobile-file-storage-animation" class="animation"></div>
                    <h4 class="caps"><%= locale.ACCESS_FILES_ON_THE_GO %></h4>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../_footer') %>
<%- script('/js/downloads/mobile.js') %>