<%- include('../_header', {window_title: 'Sapphire', selected_nav: 'downloads'}) %>

<section id="sapphire-title-container">
	<div class="container">
		<h1 class="fade-in"><%- 'Sapphire' %></h1>
        <h2 class="subtitle"><%- locale.SAPPHIRE_SUBTITLE %></h2>
        <%- include('../_button/get_ecc') %>
	</div>
</section>

<section id="sapphire-wallet-container">
	<div class="container text-center">
        <div id="sapphire-general-desc">
            <h2 class="section-title"><%= locale.UNLOCK_ECC_SERVICES %></h2>
            <p class="sapphire-description">
                <%- locale.UNLOCK_ECC_SERVICES_DESC %>
            </p>
        </div>
        <div class="row sapphire-feature">
            <div class="col-md-6 desc">
                <h3>Overview</h3>
                <p>This is Sapphire’s landing page. Your dashboard. View your balance, earnings, and expenses all in one spot.</p>
            </div>
            <div class="col-md-6">
                <img class="img" src="/img/sapphire-overview.png">
                <br>
                <span class="small text-muted">Click to enlarge</span>
            </div>
        </div>
        <div class="row sapphire-feature">
            <div class="col-md-6 order-sm-12 order-md-1">
                <video class="img" autoplay="" loop="" playsinline="" preload="auto" poster="https://thumbs.gfycat.com/AnguishedVeneratedHawaiianmonkseal-mobile.jpg" tabindex="-1">
                    <source class="mobile-src" src="https://thumbs.gfycat.com/AnguishedVeneratedHawaiianmonkseal-mobile.mp4" type="video/mp4">
                    <source src="https://giant.gfycat.com/AnguishedVeneratedHawaiianmonkseal.webm" type="video/webm">
                    <source src="https://giant.gfycat.com/AnguishedVeneratedHawaiianmonkseal.mp4" type="video/mp4">
                    <source class="mobile-src" src="https://thumbs.gfycat.com/AnguishedVeneratedHawaiianmonkseal-mobile.mp4" type="video/mp4">
                    <meta itemprop="contentUrl" content="https://giant.gfycat.com/AnguishedVeneratedHawaiianmonkseal.mp4">
                </video>
                <br>
                <span class="small text-muted">Click to enlarge</span>
            </div>
            <div class="col-md-6 order-sm-1 order-md-12 desc">
                <h3>Wallet</h3>
                <p>We’ll keep this one short and sweet for you: <strong>We believe we have created crypto’s most user friendly wallet to date.</strong> We are striving for perfection though, and we would love to hear your feedback.</p>
            </div>
        </div>
        <div class="row sapphire-feature">
            <div class="col-md-6 desc">
                <h3>Sending coins</h3>
                <p>Sapphire lets you store commonly used addresses as Contacts. When you want to send coins, you can either select a contact or manually enter an address, then click Send and be done.</p>
            </div>
            <div class="col-md-6">
                <video class="img" autoplay="" loop="" playsinline="" preload="auto" poster="https://thumbs.gfycat.com/WeightyComplicatedArabianoryx-mobile.jpg" tabindex="-1">
                    <source class="mobile-src" src="https://thumbs.gfycat.com/WeightyComplicatedArabianoryx-mobile.mp4" type="video/mp4">
                    <source src="https://giant.gfycat.com/WeightyComplicatedArabianoryx.webm" type="video/webm">
                    <source src="https://giant.gfycat.com/WeightyComplicatedArabianoryx.mp4" type="video/mp4">
                    <source class="mobile-src" src="https://thumbs.gfycat.com/WeightyComplicatedArabianoryx-mobile.mp4" type="video/mp4">
                    <meta itemprop="contentUrl" content="https://giant.gfycat.com/WeightyComplicatedArabianoryx.mp4">
                </video>
                <br>
                <span class="small text-muted">Click to enlarge</span>
            </div>
        </div>
        <div class="row sapphire-feature">
            <div class="col-md-6 order-sm-12 order-md-1">
                <video class="img" autoplay="" loop="" playsinline="" preload="auto" poster="https://thumbs.gfycat.com/PeriodicFilthyEasternnewt-mobile.jpg" tabindex="-1">
                    <source class="mobile-src" src="https://thumbs.gfycat.com/PeriodicFilthyEasternnewt-mobile.mp4" type="video/mp4">
                    <source src="https://giant.gfycat.com/PeriodicFilthyEasternnewt.webm" type="video/webm">
                    <source src="https://giant.gfycat.com/PeriodicFilthyEasternnewt.mp4" type="video/mp4">
                    <source class="mobile-src" src="https://thumbs.gfycat.com/PeriodicFilthyEasternnewt-mobile.mp4" type="video/mp4">
                    <meta itemprop="contentUrl" content="https://giant.gfycat.com/PeriodicFilthyEasternnewt.mp4">
                </video>
                <br>
                <span class="small text-muted">Click to enlarge</span>
            </div>
            <div class="col-md-6 order-sm-1 order-md-12 desc">
                <h3>Messaging preview</h3>
                <p>We figured “why not?” Sapphire has been loaded with some of the features being considered for Secure Messaging, our next planned service after ANS. Feel free to give us your feedback.</p>
            </div>
        </div>
        <div class="row sapphire-feature">
            <div class="col-md-6 desc">
                <h3>Network stats</h3>
                <p>Who doesn’t like stats? From here you can see the multiple chains in action, and make sure your node is running at full steam.</p>
            </div>
            <div class="col-md-6">
                <img class="img" src="/img/sapphire-network_stats.png">
                <br>
                <span class="small text-muted">Click to enlarge</span>
            </div>
        </div>
        <div class="row sapphire-feature">
            <div class="col-md-6 order-sm-12 order-md-1">
                <video class="img" autoplay="" loop="" playsinline="" preload="auto" poster="https://thumbs.gfycat.com/SnivelingWideeyedHorsemouse-mobile.jpg" tabindex="-1">
                    <source class="mobile-src" src="https://thumbs.gfycat.com/SnivelingWideeyedHorsemouse-mobile.mp4" type="video/mp4">
                    <source src="https://giant.gfycat.com/SnivelingWideeyedHorsemouse.webm" type="video/webm">
                    <source src="https://giant.gfycat.com/SnivelingWideeyedHorsemouse.mp4" type="video/mp4">
                    <source class="mobile-src" src="https://thumbs.gfycat.com/SnivelingWideeyedHorsemouse-mobile.mp4" type="video/mp4">
                    <meta itemprop="contentUrl" content="https://giant.gfycat.com/SnivelingWideeyedHorsemouse.mp4">
                </video>
                <br>
                <span class="small text-muted">Click to enlarge</span>
            </div>
            <div class="col-md-6 order-sm-1 order-md-12 desc">
                <h3>Settings</h3>
                <p>This is an overview of the settings page. Tailor Sapphire to your preferences with the click of a button. Also, you can backup your wallet at all times.</p>
            </div>
        </div>
    </div>

    <div id="app-download-container" class="container text-center">
        <h2 class="section-title">Download Sapphire</h2>
        <br><br>
        <p>
            Note that this release does not include the ANS feature. That will come in v1.1.0, which is currently in development.
            <br>
            Please report any issues to the Sapphire github issues area: <a href="https://github.com/project-ecc/Sapphire/issues" target="_blank">https://github.com/project-ecc/Sapphire/issues</a>
        </p>
        <br>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="#app-download-linux" class="nav-link" data-toggle="tab">
                    <span class="fa fa-linux fa-5x"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#app-download-mac" class="nav-link" data-toggle="tab">
                    <span class="fa fa-apple fa-5x"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#app-download-windows" class="nav-link" data-toggle="tab">
                    <span class="fa fa-windows fa-5x"></span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="app-download-linux" class="tab-pane fade">
                <h4><em>Linux support is coming soon</em></h4>
            </div>
            <div id="app-download-mac" class="tab-pane fade">
                <a href="https://github.com/project-ecc/Sapphire/releases/download/v1.0.3/sapphire-v1.0.3-mac.zip" class="btn btn-primary btn-lg btn-icon">
                    <span class="fa fa-cloud-download"></span> MacOS (10.12+)
                </a>
            </div>
            <div id="app-download-windows" class="tab-pane fade">
                <a href="https://github.com/project-ecc/Sapphire/releases/download/v1.0.3/sapphire-v1.0.3-win32.zip" class="btn btn-primary btn-lg btn-icon">
                    <span class="fa fa-cloud-download"></span> Windows (32-bit)
                </a>
                <a href="https://github.com/project-ecc/Sapphire/releases/download/v1.0.3/sapphire-v1.0.3-win64.zip" class="btn btn-primary btn-lg btn-icon">
                    <span class="fa fa-cloud-download"></span> Windows (64-bit)
                </a>
            </div>
        </div>
    </div>
    <%# include('_download.ejs', {app_name: 'Sapphire', downloads: downloads}) %>

    <%- include('_help.ejs') %>
</section>

<%- include('../_footer') %>
<%- script('/js/downloads/sapphire.js') %>
<%- script('/js/downloads/_download.js') %>

<div id="modal-wrapper" class="modal-video" style="display: none;">
    <div class="modal-video-body">
        <div class="modal-video-inner">
            <div class="modal-video-movie-wrap" style="padding-bottom:56.25%">
                <button class="modal-video-close-btn js-modal-video-dismiss-btn" aria-label="Close the modal by clicking here"></button>
                <div id="modal-content"></div>
            </div>
        </div>
    </div>
</div>