<%- include('../_header', {window_title: locale.CONTACT, selected_nav: 'connect'}) %>

<section id="contact-header-container">
	<div class="container">
		<h1 class="fade-in"><%- locale.CONTACT %></h1>
		<h2 class="subtitle"><%- locale.READY_FOR_QUESTIONS %></h2>
	</div>
</section>

<section id="contact-body-container">
	<div class="container text-center">
		<h2 class="section-title"><%= locale.SEND_A_MESSAGE %></h2>
		<p id="volume-warning" class="text-left"><small><%- locale.EMAIL_BACKLOG_WARNING %></small></p>
		<% if (emailResult) { %><p class="text-center"><%= emailResult %></p><% } %>
		<div id="contact-form-container" class="row">
			<div class="offset-sm-1 col-sm-10">
				<form class="text-left" action="/contact/send" method="POST">
					<div class="contact-form-row row">
						<div class="col-sm-4">
							<div class="caps"><%= locale.FIRST_NAME %></div>
							<input type="text" name="first_name" class="form-control">
						</div>
						<div class="col-sm-4">
							<div class="caps"><%= locale.LAST_NAME %></div>
							<input type="text" name="last_name" class="form-control">
						</div>
						<div class="col-sm-4">
							<div class="caps"><%= locale.EMAIL %></div>
							<input type="text" name="email" class="form-control">
						</div>
					</div>
					<div class="contact-form-row caps">
						<div class="caps"><%= locale.MESSAGE %></div>
						<textarea name="message" class="form-control" rows="5" cols="50"></textarea>
					</div>
					<div class="contact-form-row text-center">
						<div class="g-recaptcha" data-sitekey="6Ld8RFgUAAAAAN1vejd4fp1I_uY_hPlg4pX8j19y"></div>
					</div>
					<div class="contact-form-row text-center">
						<button type="submit" class="btn btn-primary btn-lg btn-icon">
							<span class="fa fa-send"></span> <%= locale.SEND %>
						</button>
					</div>
					
				</form>
			</div>
		</div>
		<div>
			<h3 class="caps"><%= locale.JOIN_US %></h3>
			<div id="join-social-links" class="row">
				<div class="offset-md-4 offset-2 col-md-1 col-2">
					<a <%- sitemap.resolve('facebook').anchorAttrs %>>
						<img src="/img/social/facebook-hover.svg">
						<span class="d-none d-sm-inline">Facebook</span>
					</a>
				</div>
				<div class="col-md-1 col-2">
					<a <%- sitemap.resolve('discord').anchorAttrs %>>
						<img src="/img/social/discord-hover.svg">
						<span class="d-none d-sm-inline">Discord</span>
					</a>
				</div>
				<div class="col-md-1 col-2">
					<a <%- sitemap.resolve('reddit').anchorAttrs %>>
						<img src="/img/social/reddit-hover.svg">
						<span class="d-none d-sm-inline">Reddit</span>
					</a>
				</div>
				<div class="col-md-1 col-2">
					<a <%- sitemap.resolve('telegram').anchorAttrs %>>
						<img src="/img/social/telegram-hover.svg">
						<span class="d-none d-sm-inline">Telegram</span>
					</a>
				</div>
				<div class="col-md-1 col-2">
					<a <%- sitemap.resolve('twitter').anchorAttrs %>>
						<img src="/img/social/twitter-hover.svg">
						<span class="d-none d-sm-inline">Twitter</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('../_footer') %>