<div class="row donation-addresses-container">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <img class="crypto-icon" src="/img/<%= ticker -%>.svg" title="<%= goal.cryptos[ticker].balance %> <%= ticker.toUpperCase() %>" data-toggle="tooltip">
            </div>
        </div>
        <input type="text" class="form-control donation-address-input" readonly value="<%= goal.cryptos[ticker].address %>">
        <div class="input-group-append">
            <a class="btn btn-outline-secondary caps copy-address-btn" title="<%= locale.COPIED %>">
                <span class="fa fa-copy"></span>
            </a>
            <a href="<%= be_link %>" target="_blank" class="btn btn-outline-secondary caps block-explorer-btn" title="<%= locale.OPEN_BE || 'Open block explorer' %>">
                <span class="fa fa-search"></span>
            </a>
        </div>
    </div>
</div>