<div class="community-goal col-xl-4 col-lg-6">
    <% if (goal.daysRemaining || goal.completedAt) { %>
        <div class="goal-to-go">
            <% if (goal.completedAt) { %>
                <%= locale.COMPLETED_ON %> <%= goal.completedAt %>
            <% } else { %>
                <%= goal.daysRemaining %> <%= locale.DAYS_TO_GO %>
            <% } %>
        </div>
    <% } %>
    <h3><%= goal.name %></h3>
    <div class="goal-details-container">
        <div class="goal-progress">
            <canvas class="goal-progress-circle" height="250" width="250" data-progress="<%= goal.currentBTCTotal / goal.goalBTCTotal %>"></canvas>
            <div class="goal-desc">
                <div class="goal-current-btc-total"><span class="fa fa-btc"></span><%= goal.currentBTCTotal %></div>
                <div class="goal-of"><%= locale.OF %></div>
                <div class="goal-goal-btc-total"><span class="fa fa-btc"></span><%= goal.goalBTCTotal %></div>
            </div>
        </div>
        <% if (goal.currentBTCTotal >= goal.goalBTCTotal) { %>
            <span class="btn btn-secondary btn-lg btn-icon caps disabled">
                <img src="/img/ecc_logo_white.svg">
                <%= locale.THANKS %>
            </span>
        <% } else { %>
            <span class="btn btn-primary btn-lg btn-icon caps" data-toggle="modal" data-target="#goal-<%= goal.id %>-detail">
                <span class="fa fa-gift"></span>
                <%= locale.DONATE %>
            </span>
        <% } %>
    </div>
</div>
<div id="goal-<%= goal.id %>-detail" class="modal fade goal-modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3><%= goal.name %></h3>
                <p class="goal-desc"><%- goal.description %></p>
                <div class="goal-addresses">
                    <%- include('goal_addresses', {goal: goal}) %>
                </div>
            </div>
        </div>
    </div>
</div>