<p><strong><%= locale.DONATION_ADDRESSES %></strong></p>
<% if (goal.cryptos.btc.address) { %><%- include('goal_address', {goal: goal, ticker: 'btc', be_link: 'https://blockexplorer.com/address/' + goal.cryptos.btc.address}) %><% } %>
<% if (goal.cryptos.bch.address) { %><%- include('goal_address', {goal: goal, ticker: 'bch', be_link: 'https://bitcoincash.blockexplorer.com/address/' + goal.cryptos.bch.address}) %><% } %>
<% if (goal.cryptos.ecc.address) { %><%- include('goal_address', {goal: goal, ticker: 'ecc', be_link: 'https://chainz.cryptoid.info/ecc/address.dws?' + goal.cryptos.bch.address + '.htm'}) %><% } %>
<% if (goal.cryptos.eth.address) { %><%- include('goal_address', {goal: goal, ticker: 'eth', be_link: 'https://etherscan.io/address/' + goal.cryptos.eth.address}) %><% } %>
<% if (goal.cryptos.ltc.address) { %><%- include('goal_address', {goal: goal, ticker: 'ltc', be_link: 'https://live.blockcypher.com/ltc/address/' + goal.cryptos.ltc.address}) %><% } %>