<%- include('../_header', {window_title: locale.GET_ECC, selected_nav: 'about'}) %>

<section id="get-ecc-container">
	<div class="container">
		<h1 class="fade-in"><%- locale.GET_ECC %></h1>
		<h2 class="subtitle"><%= locale.GET_ECC_HEADER %></h2>
		<%- include('../_button/contact_us') %>
		<div id="how-to-buy-header" class="row"><h2 class="section-title"><%- locale.HOW_TO_BUY_ECC %></h2></div>
		<div class="row how-to-buy-container">
			<div class="offset-md-2 col-md-4 text-center exchange-container">
				<div id="coinexchange-video-toggle" class="video-thumbnail" data-toggle="video" data-video-id="B33EGp0kpus"></div>
				<a href="https://www.coinexchange.io/?r=59e7f94b" class="btn btn-primary btn-lg btn-icon">
					<span class="fa fa-external-link"></span>
					<%= locale.HOW_TO_BUY_ECC_ON_COINEXCHANGE %>
				</a>
			</div>
			<div class="col-md-4 text-center exchange-container">
				<div id="cryptobridge-video-toggle" class="video-thumbnail" data-toggle="video" data-video-id="mFpL0FOw62o"></div>
				<a href="https://crypto-bridge.org/" class="btn btn-primary btn-lg btn-icon">
					<span class="fa fa-external-link"></span>
					<%= locale.HOW_TO_BUY_ECC_ON_CRYPTOBRIDGE %>
				</a>
			</div>
		</div>
		<div class="row how-to-buy-container">
			<div class="offset-md-2 col-md-4 text-center exchange-container">
				<div id="troca-video-toggle" class="video-thumbnail"></div>
				<a href="https://troca.ninja" class="btn btn-primary btn-lg btn-icon">
					<span class="fa fa-external-link"></span>
					<%= locale.HOW_TO_BUY_ECC_ON_TROCA %>
				</a>
			</div>
			<div class="col-md-4 text-center exchange-container">
				<div id="c-patex-video-toggle" class="video-thumbnail"></div>
				<a href="https://c-patex.com/" class="btn btn-primary btn-lg btn-icon">
					<span class="fa fa-external-link"></span>
					<%= locale.HOW_TO_BUY_ECC_ON_CPATEX || 'Visit C-Patex' %>
				</a>
			</div>
		</div>
		<div id="download-wallet-btn" class="text-center">
			<a <%- sitemap.resolve('sapphire').anchorAttrs %> class="btn btn-primary btn-lg caps">
				<span class="fa fa-cloud-download"></span> <%= locale.DOWNLOAD %> Sapphire
			</a>
		</div>
		<div id="coins-img" class="text-center">
			<img src="/img/coins.png">
		</div>
	</div>
</section>

<%- include('../_footer') %>