<%- include('../_header', {window_title: locale.MULTI_CHAIN_SYSTEM, selected_nav: 'about'}) %>

<section id="multi-chain-title-container">
	<div class="container">
		<h1 class="fade-in"><%- locale.MULTI_CHAIN_SYSTEM %></h1>
		<%- include('../_button/get_ecc') %>
	</div>
</section>

<section id="multi-chain-body-container">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4 class="caps header-row"><%- locale.MULTI_CHAIN_SYSTEM %></h4>
				<div class="text-box"><%= locale.MULTI_CHAIN_DESC_1 %></div>
				<div class="text-box"><%= locale.MULTI_CHAIN_DESC_2 %></div>
			</div>
			<div class="col-md-8">
				<div class="row header-row">
					<div class="col-4"><img src="/img/payment_key.png"> <%= locale.PAYMENT_NETWORK %></div>
					<div class="col-4"><img src="/img/messaging_key.png"> <%= locale.MESSAGING_NETWORK %></div>
					<div class="col-4"><img src="/img/node_key.png"> <%= locale.NODE %></div>
				</div>
				<div id="payment-img-container" class="container">
					<h3 class="large orange"><%= locale.LAYER_1 %></h3>
					<p><%= locale.PAYMENT_NETWORK %></p>
					<img src="/img/payment_network.svg">
				</div>
				<div id="payment-and-messaging-img-container" class="container">
					<h3 class="large blue"><%= locale.LAYER_2 %></h3>
					<p><%= locale.PAYMENT_NETWORK_AND_MESSAGING %></p>
					<img src="/img/payment_and_messaging_network.svg">
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('../_footer') %>