<%- include('../_header', {window_title: locale.COIN_OVERVIEW, selected_nav: 'about'}) %>

<section id="coin-overview-container">
	<div class="container">
		<h1 class="fade-in"><%- locale.COIN_OVERVIEW %></h1>
		<%- include('../_button/get_ecc') %>
	</div>
</section>

<section id="coin-attributes">
	<div class="container text-center">
		<h2 class="section-title"><%= locale.ATTRIBUTES %></h2>
		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<div id="instant-payments-animation" class="animation"></div>
				<h3 class="caps"><%= locale.INSTANT_PAYMENTS %></h3>
				<p><%= locale.INSTANT_PAYMENTS_DESC %></p>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div id="data-privacy-animation" class="animation"></div>
				<h3 class="caps"><%= locale.DATA_PRIVACY %></h3>
				<p><%= locale.DATA_PRIVACY_DESC %></p>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div id="decentralized-network-animation" class="animation"></div>
				<h3 class="caps"><%= locale.DECENTRALIZED_NETWORK %></h3>
				<p><%= locale.DECENTRALIZED_NETWORK_DESC %></p>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div id="scalable-network-animation" class="animation"></div>
				<h3 class="caps"><%= locale.SCALABLE_NETWORK %></h3>
				<p><%= locale.SCALABLE_NETWORK_DESC %></p>
			</div>
		</div>
	</div>
</section>

<section id="market-details">
	<div class="container text-center">
		<h2 class="section-title"><%= locale.MARKET_DETAILS %></h2>
		<div class="row">
			<%- include('_overview/market_detail', {title: locale.PRICE + '<span id="refresh-market-details-btn" class="fa fa-refresh"></span>', cls: 'price'}) %>
			<%- include('_overview/market_detail', {title: locale.MARKET_CAP, cls: 'market-cap'}) %>
			<%- include('_overview/market_detail', {title: locale.VOLUME, cls: 'volume'}) %>
			<%- include('_overview/market_detail', {title: locale.SUPPLY, cls: 'supply'}) %>
		</div>
	</div>
</section>

<section id="earn-coins">
	<div class="container text-center">
		<div id="coin-facts-container">
			<img id="facts-logo" src="/img/ecc_logo.svg">
			<div id="facts-container">
				<div class="ecc-fact"><%- locale.CREATION_DATE %></div>
				<div class="ecc-fact"><%- locale.ALGORITHM_USED %></div>
				<div class="ecc-fact"><%- locale.BLOCK_TIME %></div>
			</div>
		</div>
		<div class="row">
			<div class="offset-sm-1 col-sm-10">
				<img id="ecc-badge" src="/img/ecc_badge.svg">
				<h2 class="section-title"><%= locale.NO_HARDWARE_REQUIRED %></h2>
				<p><%- locale.PROOF_OF_STAKE_DESC %></p>
			</div>
		</div>
	</div>
</section>

<%- include('../_footer') %>
<%- script('/js/about/overview.js') %>