<div class="market-detail-container col-lg-3 col-sm-6">
    <fieldset>
        <legend><%- title %></legend>
        <div class="market-detail <%= cls %>">
            <p>
                <span class="currency-symbol"></span>
                <span class="currency-value"><% if (cls == 'supply') { %>25 <%= locale.BILLION %><% } %></span>
            </p>
            <p class="currency"></p>
        </div>
    </fieldset>
</div>