/** 
 * ecc.network
 * 
 * @copyright Project ECC
 */

#app-download-container {
    margin-bottom: 60px;
    
    .nav-tabs {
        border-bottom: 0;
        margin-bottom: 30px;
        
        .nav-item {
            width: 33% !important;

            .nav-link {
                @extend .caps;

                background: transparent;
                border: 0;
                color: darken($ecc-grey-light, 15%);
                font-weight: 700;
                padding: 0 1rem;

                &.active {
                    border-bottom: 0 !important;
                    color: $ecc-blue-grey;
                }

                img {
                    height: 64px;
                    margin-bottom: 5px;
                }
            }
        }
    }

    .btn {
        margin-bottom: 30px;
    }
}