/** 
 * ecc.network
 * 
 * @copyright Project ECC
 */

#mobile-downloads-container {
    background-attachment: fixed;
    background-image: url('/img/background/downloads/mobile.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    > .container > .row {
        margin-bottom: 60px;
    }

    .phone-img-container img {
        width: 70%;
    }

    .animation-container {
        margin: 100px auto 0;
        max-width: 270px;
        text-align: center;

        &.single-animation {
            margin-top: 150px;
        }

        .animation {
            margin: 0 auto 15px;
            max-width: 150px;
        }
    }

    #phone-image-2-right {
        display: none;
    }
}

@media (max-width: 992px) {
    #mobile-downloads-container {
        .animation-container {
            margin-top: 0;

            &.single-animation {
                margin-top: 50px;
            }
        }
    }
}

@media (max-width: 768px) {
    #mobile-wallets-container {
        > .container > .row {
            margin-bottom: 0;
        }

        .animation-container {
            margin: 30px auto;
        }

        .phone-img-container img {
            width: 50%;
        }

        #phone-image-2-left {
            display: none;
        }
    
        #phone-image-2-right {
            display: block;
        }
    }
}