/** 
 * ecc.network
 * 
 * @copyright Project ECC
 */

#sapphire-title-container {
    background: url('/img/background/downloads/sapphire.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

#sapphire-wallet-container {
    background-color: $ecc-grey-light;
    background-image: url('/img/background/wallet.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    #sapphire-general-desc {
        margin-bottom: 60px;
    }

    .sapphire-feature {
        margin-bottom: 60px;

        > div {
            margin-bottom: 30px; 

            &.desc {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .img {
                cursor: zoom-in;
                margin: auto;
                width: 70%;
            }
        }
    }
    
    .sapphire-description {
        margin-bottom: 30px;
    }

    .learn-more-btn {
        margin-bottom: 30px;
    }

    .nav-tabs {
        border-bottom: 0;

        .nav-item {
            width: 25%;
            
            .nav-link {
                @extend .caps;

                background: transparent;
                border: 0;
                color: darken($ecc-grey-light, 15%);
                font-weight: 700;
                padding: 0 1rem;

                &.active {
                    border-bottom: 4px solid $ecc-orange;
                    color: $ecc-blue-grey;
                }
            }
        }
    }

    .sapphire-preview-img {
        border-radius: 4px;
        max-width: 90%;
    }

    #sapphire-mobile-accordion {
        .sapphire-feature {
            margin-bottom: 30px;
            
            h4 {
                cursor: pointer;

                .icon {
                    display: inline-block;
                    width: 40px;
                }

                .fa {
                    content: '\f054';
                    font-family: FontAwesome;
                    transition: padding .25s linear, transform .25s ease;
                }

                &:not(.collapsed) .fa {
                    transform: rotate(90deg);
                }
            }
        }
    }
}